<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/style_login.css">
	<title></title>
</head>
<body>
	 <header>
		<div class="content_area">
			Bem vindo,{{name_user}}!
			<a class="b"href="http://localhost/dashboard/logout">Sair</a>	
		</div> 
	</header>
		<section class="box_dashboard">
			<div class="content_area">
			<h1>Dashboard</h1>
	    	</div>		
		</section>
	
</body>
</html>